<head>
	<link rel="stylesheet" type="text/css" href="public/stylesheets/sobre.css">
</head>

<div>
	<body>
		<h2 style="margin-bottom: 20px; font-weight: bold;">Sobre</h2>
		<div class="row">
			<div class="col-md-8">
				<p>
					Você, aluno universitário, que ao estudar para sua prova gasta mais tempo procurando questões do que resolvendo-as, o Guia Provas é um centralizador aberto e online de provas que reúne o conteúdo de diferenes cursos e universidades.
				</p>
				<p>
					Nada de procurar no dropbox ou no grupo do Facebook. O Guia Provas categoriza suas disciplinas de forma organizada e possibilita a construção de gabarito.
				</p>
				<p>
					Chega de perguntar para os seus amigos, o Guia Provas guia você!
				</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="public/resources/images/desenho_guia_provas.png">
			</div>
		</div>
		
		
	</body>
</div>